*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ignore the pdf file
Thesis.pdf
/english/Thesis.log
/english/Thesis.synctex.gz
/english/Thesis.log
/english/*.bbl
/english/*.blg
/english/*.glo
/english/*.idx
/english/*.ist
/english/*.lof
/english/*.log
/english/*.lol
/english/*.lot
/english/*.maf
/english/*.mtc
/english/*.mtc0
/english/*.mtc1
/english/*.mtc2
/english/*.mtc3
/english/*.mtc4
/english/*.mtc5
/english/*.mtc6
/english/*.mtc7
/english/*.mtc8
/english/*.out
/english/*.aux
/english/*.toc
